In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1500)

heart_info = pd.read_csv("data/heart_info.csv")
heart_info

     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0     40   M           ATA        140          289          0     Normal    172              N      0.0       Up             0
1     49   F           NAP        160          180          0     Normal    156              N      1.0     Flat             1
2     37   M           ATA        130          283          0         ST     98              N      0.0       Up             0
3     48   F           ASY        138          214          0     Normal    108              Y      1.5     Flat             1
4     54   M           NAP        150          195          0     Normal    122              N      0.0       Up             0
..   ...  ..           ...        ...          ...        ...        ...    ...            ...      ...      ...           ...
913   45   M            TA        110          264          0     Normal    132              N      1.2     Flat             1
914   68   M           ASY        144          193          1     Normal    141              N      3.4     Flat             1
915   57   M           ASY        130          131          0     Normal    115              Y      1.2     Flat             1
916   57   F           ATA        130          236          0        LVH    174              N      0.0     Flat             1
917   38   M           NAP        138          175          0     Normal    173              N      0.0       Up             0

[918 rows x 12 columns]

In [2]:
def ynmf_to_num(x):
    if x == 'Y' or x == 'M':
        x=1
    else:
        x=0
    return x
heart_info['ExerciseAngina'] = heart_info['ExerciseAngina'].transform(ynmf_to_num) #Y==1 and N==0
heart_info['Sex'] = heart_info['Sex'].transform(ynmf_to_num) #M==1 and F==0
heart_info

     Age  Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  MaxHR  ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0     40    1           ATA        140          289          0     Normal    172               0      0.0       Up             0
1     49    0           NAP        160          180          0     Normal    156               0      1.0     Flat             1
2     37    1           ATA        130          283          0         ST     98               0      0.0       Up             0
3     48    0           ASY        138          214          0     Normal    108               1      1.5     Flat             1
4     54    1           NAP        150          195          0     Normal    122               0      0.0       Up             0
..   ...  ...           ...        ...          ...        ...        ...    ...             ...      ...      ...           ...
913   45    1            TA        110          264          0     Normal    132               0      1.2     Flat             1
914   68    1           ASY        144          193          1     Normal    141               0      3.4     Flat             1
915   57    1           ASY        130          131          0     Normal    115               1      1.2     Flat             1
916   57    0           ATA        130          236          0        LVH    174               0      0.0     Flat             1
917   38    1           NAP        138          175          0     Normal    173               0      0.0       Up             0

[918 rows x 12 columns]

In [3]:
heart_info_encoded = pd.get_dummies(heart_info, columns=['ChestPainType', 'RestingECG', 'ST_Slope'], drop_first=True, dtype=int)
heart_info_encoded

     Age  Sex  RestingBP  Cholesterol  FastingBS  MaxHR  ExerciseAngina  Oldpeak  HeartDisease  ChestPainType_ATA  ChestPainType_NAP  ChestPainType_TA  RestingECG_Normal  RestingECG_ST  ST_Slope_Flat  ST_Slope_Up
0     40    1        140          289          0    172               0      0.0             0                  1                  0                 0                  1              0              0            1
1     49    0        160          180          0    156               0      1.0             1                  0                  1                 0                  1              0              1            0
2     37    1        130          283          0     98               0      0.0             0                  1                  0                 0                  0              1              0            1
3     48    0        138          214          0    108               1      1.5             1                  0                  0                 0                  1              0              1            0
4     54    1        150          195          0    122               0      0.0             0                  0                  1                 0                  1              0              0            1
..   ...  ...        ...          ...        ...    ...             ...      ...           ...                ...                ...               ...                ...            ...            ...          ...
913   45    1        110          264          0    132               0      1.2             1                  0                  0                 1                  1              0              1            0
914   68    1        144          193          1    141               0      3.4             1                  0                  0                 0                  1              0              1            0
915   57    1        130          131          0    115               1      1.2             1                  0                  0                 0                  1              0              1            0
916   57    0        130          236          0    174               0      0.0             1                  1                  0                 0                  0              0              1            0
917   38    1        138          175          0    173               0      0.0             0                  0                  1                 0                  1              0              0            1

[918 rows x 16 columns]

In [4]:
heart_info_encoded_scaled = heart_info_encoded.copy() 
columns = ['Age', 'RestingBP', 'Cholesterol', 'MaxHR', 'Oldpeak']
# apply normalization min-max
for column in columns: 
    heart_info_encoded_scaled[column] = (heart_info_encoded_scaled[column] - heart_info_encoded_scaled[column].min()) / (heart_info_encoded_scaled[column].max() - heart_info_encoded_scaled[column].min())
heart_info_encoded_scaled

          Age  Sex  RestingBP  Cholesterol  FastingBS     MaxHR  ExerciseAngina   Oldpeak  HeartDisease  ChestPainType_ATA  ChestPainType_NAP  ChestPainType_TA  RestingECG_Normal  RestingECG_ST  ST_Slope_Flat  ST_Slope_Up
0    0.244898    1       0.70     0.479270          0  0.788732               0  0.295455             0                  1                  0                 0                  1              0              0            1
1    0.428571    0       0.80     0.298507          0  0.676056               0  0.409091             1                  0                  1                 0                  1              0              1            0
2    0.183673    1       0.65     0.469320          0  0.267606               0  0.295455             0                  1                  0                 0                  0              1              0            1
3    0.408163    0       0.69     0.354892          0  0.338028               1  0.465909             1                  0                  0                 0                  1              0              1            0
4    0.530612    1       0.75     0.323383          0  0.436620               0  0.295455             0                  0                  1                 0                  1              0              0            1
..        ...  ...        ...          ...        ...       ...             ...       ...           ...                ...                ...               ...                ...            ...            ...          ...
913  0.346939    1       0.55     0.437811          0  0.507042               0  0.431818             1                  0                  0                 1                  1              0              1            0
914  0.816327    1       0.72     0.320066          1  0.570423               0  0.681818             1                  0                  0                 0                  1              0              1            0
915  0.591837    1       0.65     0.217247          0  0.387324               1  0.431818             1                  0                  0                 0                  1              0              1            0
916  0.591837    0       0.65     0.391376          0  0.802817               0  0.295455             1                  1                  0                 0                  0              0              1            0
917  0.204082    1       0.69     0.290216          0  0.795775               0  0.295455             0                  0                  1                 0                  1              0              0            1

[918 rows x 16 columns]

In [5]:
# Reordering columns
heart_info_encoded_scaled = heart_info_encoded_scaled.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 8]]
heart_info_encoded_scaled.to_csv(".\data\processed_heart_info.csv", sep=',', index=False, encoding='utf-8')
heart_info_encoded_scaled

          Age  Sex  RestingBP  Cholesterol  FastingBS     MaxHR  ExerciseAngina   Oldpeak  ChestPainType_ATA  ChestPainType_NAP  ChestPainType_TA  RestingECG_Normal  RestingECG_ST  ST_Slope_Flat  ST_Slope_Up  HeartDisease
0    0.244898    1       0.70     0.479270          0  0.788732               0  0.295455                  1                  0                 0                  1              0              0            1             0
1    0.428571    0       0.80     0.298507          0  0.676056               0  0.409091                  0                  1                 0                  1              0              1            0             1
2    0.183673    1       0.65     0.469320          0  0.267606               0  0.295455                  1                  0                 0                  0              1              0            1             0
3    0.408163    0       0.69     0.354892          0  0.338028               1  0.465909                  0                  0                 0                  1              0              1            0             1
4    0.530612    1       0.75     0.323383          0  0.436620               0  0.295455                  0                  1                 0                  1              0              0            1             0
..        ...  ...        ...          ...        ...       ...             ...       ...                ...                ...               ...                ...            ...            ...          ...           ...
913  0.346939    1       0.55     0.437811          0  0.507042               0  0.431818                  0                  0                 1                  1              0              1            0             1
914  0.816327    1       0.72     0.320066          1  0.570423               0  0.681818                  0                  0                 0                  1              0              1            0             1
915  0.591837    1       0.65     0.217247          0  0.387324               1  0.431818                  0                  0                 0                  1              0              1            0             1
916  0.591837    0       0.65     0.391376          0  0.802817               0  0.295455                  1                  0                 0                  0              0              1            0             1
917  0.204082    1       0.69     0.290216          0  0.795775               0  0.295455                  0                  1                 0                  1              0              0            1             0

[918 rows x 16 columns]